{% extends "layout_bsa_popup.html" %}
{% block page_title %}
Single User View
{% endblock %}
{% block after_header %}
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full highlight1">
         <h1 class="heading-large">Direct Debit</h1>
         <h2 class="heading-small">Chosen payment date</h2>
         <p>12</p>
         <p class="change-spacea"></p>
         <h2 class="heading-small">Payment plan</h2>
         <p>6 months</p>
         <p class="change-spacea"></p>
         <h2 class="heading-small">Payments</h2>
         <p class="change-spacea"></p>
         <table class="payment-table">
            <thead>
               <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Remaining</th>
                  <th>Payment No.</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>24/04/2019</td>
                  <td>£11.80</td>
                  <td>£35.40</td>
                  <td>3</td>
               </tr>
               <tr>
                  <td>22/03/2019</td>
                  <td>£11.80</td>
                  <td>£47.20</td>
                  <td>2</td>
               </tr>
               <tr>
                  <td>23/02/2019</td>
                  <td>£11.80</td>
                  <td>£59.80</td>
                  <td>1</td>
               </tr>
            </tbody>
         </table>
         <br>
         <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Close</a></p>
         <br>
         <br>
      </div>
   </div>
</main>
{% endblock %}