{% extends "layout_bsa_popup.html" %}
{% block page_title %}
Single User View
{% endblock %}
{% block after_header %}
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full highlight1">
         <h1 class="heading-large">Manual Payment</h1>
         <!-- <div class="column-full"> -->
            <!-- <div class="column-half lpads"> -->
               <h2 class="heading-small">Chosen payment date</h2>
               <p>12</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Payment plan</h2>
               <p>6 months</p>

               <p class="change-spacea"></p>
               <!-- <h2 class="heading-small">Surname</h2>
               <p>Bloggs</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">D.O.B.</h2>
               <p>20/11/1988</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">NHS No.</h2>
               <p>20111988</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Email</h2>
               <br>
               <p class="change-spacea"></p> -->
               <!-- <a class="link-back" href="historyDates">Back</a> -->
               
            <!-- </div> -->
            <!-- <div class="column-half">
               <h2 class="heading-small">Address line 1</h2>
               <p>9 Hotspur street</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Address line 2</h2>
               <p>Townford</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Address line 3</h2>
               <br>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Address line 4</h2>
               <br>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Postcode</h2>
               <p>NE1 0LD</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Telephone</h2>
               <br>
               <p class="change-spacea"></p>
            </div> -->
            <!-- <h1 class="heading-medium">Payments</h1> -->
            <!-- <h2 class="heading-small">Date</h2>
               <p>24/04/2017</p>
               <p class="change-spacea"></p>
               <h2 class="heading-small">Payment plan</h2>
               <p>6 months</p> -->

<h2 class="heading-small">Payments</h2>
<p class="change-spacea"></p>

            <table class="payment-table">
               <thead>
                  <tr>
                     <th>Date</th>
                     <th>Amount</th>
                     <th>Remaining</th>
                     <th>Payment No.</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>24/04/2019</td>
                     <td>£11.80</td>
                     <td>£35.40</td>
                     <td>3</td>
                  </tr>
                  <tr>
                     <td>22/03/2019</td>
                     <td>£11.80</td>
                     <td>£47.20</td>
                     <td>2</td>
                  </tr>
                  <tr>
                     <td>23/02/2019</td>
                     <td>£11.80</td>
                     <td>£59.80</td>
                     <td>1</td>
                  </tr>
               </tbody>
            </table>
            <br>
               <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Close</a></p>
               <br>
            
            <br>
         <!-- </div> -->
      </div>
   </div>
</main>
{% endblock %}