{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">
  
    <div class="grid-row">
      <div class="column-half">
        <ul>
          <li><a href="#">item 1</a></li>
        </ul>
      </div>
      <div class="column-half" id="logout">
        <ul>
          <li><a href="#">Log out</a></li>
        </ul>
      </div>
    </div>
  
    <div class="grid-row">
        <div class="column-full">
            <div class="column-one-third lpads det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-small">PCN 123456789</h1>
                    <div class="column-one-half lpads">
                        <h2 class="heading-small">Prescription</h2>
                        <p>£8.60</p>
                        <h2 class="heading-small">Penalty</h2>
                        <p>£50</p>
                        <h2 class="heading-small">Surcharge</h2>
                        <p>£51</p>
                        <h2 class="heading-small">Balance</h2>
                        <p>£109.60</p>
                        <h2 class="heading-small">Sent</h2>
                        <p>28/06/2017</p>
                        <h2 class="heading-small">Respond</h2>
                        <p>28/07/2017</p>
                    </div>
                    <div class="column-one-half det-width">
                        <h2 class="heading-small">Items</h2>
                        <p>1</p>
                        <h2 class="heading-small">Dispenser</h2>
                        <p>FRN15</p>
                        <h2 class="heading-small">Exemption</h2>
                        <p>(F) Pre-payment Certificate</p>
                        <h2 class="heading-small">Evidence</h2>
                        <p>No</p>
                        <h2 class="heading-small">DWP</h2>
                        <p>No</p>
                    </div>
                </div>
            </div>
            <div class="column-one-third det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-small">Customer</h1>
                    <div class="column-one-half lpads">
                        <h2 class="heading-small">Title</h2>
                        <p class="change-spacep">Mr</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Forename</h2>
                        <p class="change-spacep">Joe</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Surname</h2>
                        <p class="change-spacep">Bloggs</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Address</h2>
                        <p class="change-spacep">9 Hotspur street, Townford, NE1 0LD</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                    </div>
                    <div class="column-one-half">
                        <h2 class="heading-small">D.O.B</h2>
                        <p class="change-spacep">20/11/1988</p>
                    <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">NHS No.</h2>
                        <p class="change-spacep">20111988</p>
                    <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Email</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                    <p class="change-spacea"><a href="#">Add</a></p>
                        <h2 class="heading-small">Tel</h2>
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
                    <p class="change-spacea"><a href="#">Add</a></p>
                    </div>
                </div>
            </div>
            <div class="column-one-third rpads tab-area">
                <br>
                <div class="column-full rpads">
                    <div class="container rpads">
                        <ul class="tabs rpads">
                            <li class="tab-link current" data-tab="tab-1">Transactions</li>
                            <li class="tab-link" data-tab="tab-2">Notes</li>
                            <li class="tab-link" data-tab="tab-3">Matched records</li>
                        </ul>
                        <div id="tab-1" class="tab-content current rpads">
                            <div class="makeScrollable">
                            <table class="internal-table">
                                <thead>  
                                <tr>
                                <th>Date</th>
                                <th>User</th> 
                                <th>Amount</th>
                                <th>Type</th>
                              </tr>
                                    </thead>
                                <tbody>
                              <tr>
                                <td>28/05/2017</td>
                                <td>System</td> 
                                <td>£58.60</td>
                                  <td>Payment request</td>
                              </tr>
                              <tr>
                                <td>28/06/2017</td>
                                <td>System</td> 
                                <td>£51</td>
                                  <td>Surcharge added</td>
                              </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content">

                            
                            
<div class="makeScrollable">
                            <table class="internal-table">
                                <thead>
                                  <tr>
                                <th>Date</th>
                                <th>Agent</th> 
                                <th>Comments</th>
                              </tr>
                                </thead>
                                
                                <tbody>
                                    <div>
                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                                                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                        </div>
                                </tbody>
                                    
                            </table>
    </div>
                            <a href="#">+ Add note</a>
                                
                            <br>
                        </div>
                        <div id="tab-3" class="tab-content">
                            
                            <h3 class="heading-small">Matches</h3>
                            <div class="makeScrollable1">
                          <table class="internal-table">
                              <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Sent</th> 
                                    <th>Respond</th>
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr>
                                    <td><a href="tabs-right">223456789</a></td>
                                    <td>28/5/17</td> 
                                    <td>28/6/17</td>
                                    <td>£108.60</td>
                                    <td>Open</td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">323456789</a></td>
                                    <td>28/4/17</td> 
                                    <td>28/5/17</td>
                                    <td>£108.60</td>
                                    <td>Open</td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                  </tbody>
                            </table>
                            </div>
                            <h3 class="heading-small">Potential matches</h3>
                            <div class="makeScrollable1">
                            <table class="internal-table">
                                <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Name</th> 
                                    <th>Address</th>
                                    <th>D.O.B</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="tabs-right">423456789</a></td>
                                    <td>Joe J Bloggs</td> 
                                    <td>9 Hotspur street, Townford, NE1 0LD</td>
                                    <td>20/11/1988</td>
                                    <td><a href="tabs-right-linked">Link</a></td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">523456789</a></td>
                                    <td>Joe Bloggs</td> 
                                    <td>17 Trump street, Townford, NE1 5LD</td>
                                    <td>20/11/1988</td>
                                    <td><a href="">Link</a></td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                                                    <tr>
                                    <td><a href="tabs-right">623456789</a></td>
                                    <td>Laura Hartford</td> 
                                    <td>9 Hotspur street, Townford, NE1 5LD</td>
                                    <td>20/11/1988</td>
                                    <td><a href="">Link</a></td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</main>

{% endblock %}
