{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}



{% block after_header %}


{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-large">Dispenser details</h1>
            
<div class="column-full">

                    
                                                <h2 class="heading-small">Name</h2>
                        <p>Lloyds Pharmacy ltd</p>
                        <p class="change-spacea"></p>
                                                                                                <h2 class="heading-small">Address</h2>
                        <p>Mystery street</p>
                        <p>Bristol</p>
                        <p>JH12 6LQ</p>

                                                                        <h2 class="heading-small">Tel</h2>
                        <p>07837881679</p>

<p class="navigation"><a class="cancel" href="JavaScript:window.close()">Close</a></p>
                   
                    
            
            </div>
        </div>
    </div>
</main>

{% endblock %}
