{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-large">Extend lock</h1>
            
            
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                    
                    

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Message to alert the user to a problem goes here
      </h2>

      <p>
        Optional description of the errors and how to correct them
      </p>

      <ul class="error-summary-list">
        <li><a href="#example-full-name">Descriptive link to the question with an error</a></li>
        
      </ul>

    </div>
            
            <form action="tabs-below" method="get" class="form">

        <div class="form-group">
                                        <div class="form-group">
            <label class="form-label">Time to extend by</label>
            <br>
  <select class="form-control" name="select-box">
    <option>14 days</option>
    <option>28 days</option>
      <option>30 days</option>
      <option>60 days</option>
      <option>60 days check med/mat</option>
      <option>90 days</option>
  </select>
                   <br>
        <br>
        </div>
            
                            <input type="checkbox" class="applyAll">Check before unlock?<br>
        
        <br>
            <br>
          
            <div class="form-group form-group-error">
<label class="form-label">Reason for extending</label>
            <br>
            
          <div style="width: 500px;">
              <textarea style="height: 150px; width:100%;"></textarea>             
              <p style="text-align: right;">0/2048</p>              
            </div>
            </div>
        </div>
                

        
        <br>
        
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" onclick="JavaScript:window.close()" type="submit" value="Submit">
          </div>
        </div>

        <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p>
        
      </form>
            
            

        </div>
    </div>
</main>

{% endblock %}
