{% extends "layout_bsa_popup.html" %}
{% block page_title %}
  Single User View
{% endblock %}
{% block after_header %}
{% endblock %}
{% block content %}

<style>
    .heading-xlarge {
        /*text-align: center;*/
        border-bottom: 1px solid #bfc1c3;
        border-top: 1px solid #bfc1c3;
        padding: 30px 0;
    }
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full highlight1">
            <h1 class="heading-large">Generate payment token</h1>   
            <h1 class="heading-xlarge">09134</h1>   
            <form class="form" action="update-email" id="contact-boxes">
                <div class="form-item-wrapper">
                    <div class="form-group">
                        <input class="button" onclick="JavaScript:window.close()" type="submit" value="Close">
                    </div>
                </div>
                <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p> 
            </form>
        </div>
    </div>
</main>

{% endblock %}