{% extends "layout_bsa_popup.html" %}
​
{% block page_title %}
Single User View
{% endblock %}
​
{% block after_header %}
​
{% endblock %}
​
{% block content %}
​<main id="content" role="main">
  <div class="grid-row">
     
       
           <div class="grid-row highlight1">
<main id="content" role="main">
  <div class="grid-row">
    <h1 class="heading-large">Paying by Direct Debit</h1>
    <form action="tabs-below" method="get" class="form">
      <div class="form-group">
        <p class="form-label">A Direct debit lets you pay your penalty charge over a number of months, on a date that suits you.</p>
        
        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            You may have to pay extra charges if we are unable to take a payment. 
            <p>
          </strong>
        </div>
      </div>    
        </h1>
        <p>
          <p class="form-label">We may cancel your Direct Debit if we are unable to take payments on more that one occasion. This may mean that you would need to pay the amount in full.
        </p>
        <strong class="bold-small">
          
        <form>
          <div class="form-group">Before setting up a Direct Debit, can you confirm the following?
            <p>
            <p></p>
            <form class="form" action="contact-handler" id="contact-boxes">
              <fieldset class="form-group" style="margin-bottom: 10px;">
                 
                 </legend>
                 <div class="multiple-choice multiple-radio">
                    <input id="opt1" name="opt1" type="checkbox" value="true">
                    <label for="opt1">You're using your own bank account</label>
                 </div>
              
                 </legend>
                 <div class="multiple-choice multiple-radio">
                    <input id="opt2" name="opt2" type="checkbox" value="true">
                    <label for="opt2">You're the only person required to authorise debits on this account.</label>
                 </div>
              
                 </legend>
                 <div class="multiple-choice multiple-radio">
                    <input id="opt3" name="opt3" type="checkbox" value="true">
                    <label for="opt3">You understand that if we're unable to take payments on more than one occasion,<p></p>extra chargesmay apply and you may not be able to pay by Direct Debit again</label>
                 </div>
              </fieldset>
                   
           
 
          
                
                  
            
                    
              
             
   
              
  <!--Before starting you can r--> <a href="https://www.directdebit.co.uk/DirectDebitExplained/pages/directdebitguarantee.aspx" target="_blank">Direct Debit Guarantee</a></p>
<P></P>
</div>
  <div class="form-group">
    <a class="button" id="search-button" href="set-up-dd.html" role="button">Save and continue</a>
  </div>
<p class="navigation"><a class="cancel" href="direct-debit.html">Cancel</a></p>
    
    

</div>
{% endblock %}               
                               
                                      
                                 
                                      
                                      
                                
        
       
            
            
            
       

            

        
    

    

             
                               
                                      
                                 
                                      
                                      
                                
        
       
            
            
            
       

            

        
    
