{% extends "layout_bsa_popup.html" %}
​
{% block page_title %}
Single User View
{% endblock %}
​
{% block after_header %}
​
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  <div class="grid-row">
    <h1 class="heading-large">Paying by Direct Debit</h1>
    <form action="tabs-below" method="get" class="form">
      <div class="form-group">
        <p class="form-label">Direct debit lets the customer pay their penalty over a number of months, on a date that suits them.</p>
        
        <div class="notice">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            If the customer is unable to make a payment, they may have to pay extra charges.
          </strong>
        </div>
      </div>    
        </h1>
        <p>
          They must confirm the following to set up a direct debit with you online. *Read the Direct Debit notice to them*
        </p>
        
        <form>
          <div class="form-group">
            <fieldset>
        
              <legend class="visually-hidden">What is your nationality?</legend>
        
              <div class="multiple-choice">
                <input id="nationalities-british" name="nationalities" type="checkbox" value="British">
                <label for="nationalities-british">I am using my own bank account</label>
              </div>
              <div class="multiple-choice">
                <input id="nationalities-irish" name="nationalities" type="checkbox" value="Irish">
                <label for="nationalities-irish">I am the only person required to authorise debits on this account</label>
              </div>
              <div class="multiple-choice" data-target="example-different-country">
                <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
                <label for="nationalities-other">I understand that if you are unable to take payments on more than one occasion, I might have to pay
                  extra charges and may not be able to pay by Direct Debit again
                </label>
              </div>
              
            </fieldset>
          </div>
        </form>
​   <br>
<p>
  
  Read the customer the Direct Debit Gaurantee <a class="cancel" href="JavaScript:window.close()">Direct Debit Gaurantee</a></p> 

<div class="form-item-wrapper">
  <div class="form-group">
    <input class="button" onclick="JavaScript:window.close()" type="set" value="Pay by direct debit">
  </div>
</div>

<p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p>

</form>
    
    

</div>
{% endblock %}               
                               
                                      
                                 
                                      
                                      
                                
        
       
            
            
            
       

            

        
    
