{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}

<main id="content" role="main">
   
        
        <div class="column-full highlight1">

            <h1 class="heading-large">Remove Lock</h1>
            
            
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                    
                    

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Please ensure that you do not remove a record that needs any action. Are you sure you want to remove the selected cases from the list? 
      

      <p>
  
     Press 'yes' to remove selected records or 'no' to go back to the action list   
      </p>
      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
          <label class="nhsuk-label nhsuk-radios__label" for="example-1">
            Yes
          </label>
        </div>
  
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
          <label class="nhsuk-label nhsuk-radios__label" for="example-2">
            No
          </h2>
          </label>
        </div>
  
      </div>
    </fieldset>
  
      <ul class="error-summary-list">
        <li><a href="#example-full-name"></a></li>
        
      </ul>

    </div>
            
            <form action="tabs-below" method="get" class="form">

     
  </select>
                   <br>
        <br>
        </div>
        <h2 class="heading-medium error-summary-heading"   
       class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
       
      </h1>
    </legend>


    </div>
  </fieldset>

</div>                    
   

      
              
         
        
            

            
            
            
                 
            
            
          
            
   
      
  
          
          

 

{% endblock %}
