{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
      
      <div class="column-full highlight1">

     
            
            
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

                </div>
                <a href="#"></a><h1 class="heading-large">Remove Lock</h1>
               
                <ul>
                  <li>
                     
                  </li>
     
              
    
  

 
  <div class="form-group">
     <table class="internal-table-results">
        <tr>
           <th>Service type</th>
           <th>Reference</th>
           <th>Date lock applied</th>
           <th>Lock duration</th>
           <th>Lock Reason</th>
           <th>Unlock date</th>
           
           <th>Remove</th>
        </tr>
        <tr>
          
      </label>
    </div></td>
</tr>

</tr>
<tr>
   <td>DECS</a></td>
   <td><a href="locked">676543456</a></td>
   <td>30/12/2019</td>
   <td>28</td>
   <td>Sending in decleration</td>
   <td>27/12/2019</td>
   
   <td> <div class="nhsuk-checkboxes__item">
      <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
      <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
      </tr>
      <tr>
         <td>DECS</a></td>
         <td><a href="closed">876789878</a></td>
         <td>31/12/2019</td>
         <td>30</td>
         <td></td>
         <td>30/01/2020</td>
         
         <td> <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
            </tr>
            <tr>
              <td>PECS</a></td>
              <td><a href="closed">789098765</a></td>
              <td>01/12/2019</td>
              <td>60</td>
              <td></td>
              <td>30/01/2020</td>
              
              <td> <div class="nhsuk-checkboxes__item">
                 <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
                 <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
</tr>
</table>
</div>
<a class="button" id="search-button" href="locked-results.html" role="button" style="float: right;">remove</a>
</div>

      

      
            

        </div>
    </div>
</main>

{% endblock %}
