{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}
<div id="menu">
  <div id="menu-content">
    <div class="grid-row">
      <div class="column-half">
       
              
              
              </li>

<body class="js-enabled">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  

  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink">Skip to main content</a>
    </div>
  </div>

  <div id="global-cookie-message">

      

  </div>
  <!--end global-cookie-message-->


  
      


  </header>
  <!--end header-->


  

  

<main id="content" role="main">

<div class="grid-row">
  <div class="column-full">
    <div class="phase-banner">
        <p>
         
          
        </p>
      </div>
  </div>
</div>
  
<div class="grid-row">
  
  <div class="column-two-thirds">
    
    <div class="done-panel">
      <h1 class="heading-large"><span id="done-tick"> </span>Removed from tracker
</h1>
      <h2 class="heading-large">563789098
</h2>
  
                
    </div>
          
    <p>
     
    
      <a class="button" id="search-button" href="locked-results-one-removed.html" role="button">Continue</a>
    
   
    </div>
  </div>
  
</div>

</main>



  

<!--
    

  <div id="global-app-error" class="app-error hidden"></div>

  <script src="/public/javascripts/govuk-template.js?0.18.3" type="text/javascript"></script>

  
<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/prototype.js"></script>


<script src="/public/javascripts/auto-store-data.js"></script>




  <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


</body>                      
        
        </div>
    </div>
</main>

{% endblock %}
