{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-large">Remove Lock</h1>
            
            
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                    
                    

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Please ensure that you do not remove a record that needs any action. Are you sure you want to remove the selected cases from the list?
      </h2>

      <p>
        Please ensure that you have checked that the record should be removed and deleted from the lock list.
      </p>

      <ul class="error-summary-list">
        <li><a href="#example-full-name"></a></li>
        
      </ul>

    </div>
            
            <form action="remove-list.html" method="get" class="form">

     
  </select>
                   <br>
        <br>
        </div>
            
                           
        
        <br>
            <br>
          
            <div class="form-group form-group-error"></div>
<label class="form-label"></label>
            <br>
            
         
        
        <div class="form-item-wrapper"></div>
          <div class="form-group">
            
            <a class="button" id="search-button" href="locked-results-one-removed.html" role="button">Remove</a>
          </div>
        
        
        
      </form>
      <p class="navigation"><a class="cancel" href="search-form-locked-cases.html">Cancel</a></p>
        
      </form>
    </div>      
      
               

        </div>
    </div>
</main>

{% endblock %}
