{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}

{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-large"><h1 class="heading-xlarge">Are you sure you want to unlcock this case?</h1></h1>
            
            
            
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
                    
                    

      <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Reference &NonBreakingSpace;  &NonBreakingSpace; &NonBreakingSpace;  &NonBreakingSpace;        563789098
      </h2>

      <p></p>
    
      </p>

      <ul class="error-summary-list">
        <li><a href="#example-full-name"></a></li>
        
      </ul>

    </div>
            
            <form action="remove-list.html" method="get" class="form">

     
  </select>
                   <br>
        <br>
        </div>
            
                           
        
        <br>
            <br>
          
            <div class="form-group form-group-error"></div>
<label class="form-label"></label>
            <br>
            
         
        
        <div class="form-item-wrapper"></div>
          <div class="form-group">
            
            
          
        <a class="button" id="search-button" href="removed-from-lock.html" role="button" style="float: left;">Continue</a>
     </div>
    </div>
  </div>
        <p class="navigation"><a class="remove-list" href="JavaScript:window.remove-list()">Cancel</a></p>
     
      </form>
            
            

        </div>
    </div>
</main>

{% endblock %}
