{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul>
                          <li>
                          </li>
                          <div class="column-half">
                             <ul>
                                <li>
                                   <a class="menu-button" href="results-content.html">Reports</a> 
                                </li>
                 
            </li>
          </li>
          <div class="column-half">
             <ul>
                <li>
                   <a class="menu-button" href="locked-results-ref-search.html">Locked Cases</a> 
                </li>
              </div>
            </div>
         </div>
              
              <li class="sign-out-link">
                 <a href="#">Sign out</a>
             
        </div>
     </div>
  </div>

  <div id="menu-content">
     <div class="grid-row">
        <div class="column-half">
           <ul>
              <li>
               
                 <ul>
                    <li>
                       
                    </li>
     
        
           <a href="#"></a>
        </div>
     </div>
  </div>
</div>
  </div>
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    
      <h2 class="heading-medium">PCN Search</h2>
    
<div id="search">
<div class="grid-row">
   <div class="column-one-third">
       <span class="form-label">Reference number</span>
      <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>
    </div>

            <div class="column-one-third">
       <span class="form-label">First name</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>
    </div>
                <div class="column-one-third">
       <span class="form-label">Last name</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>
    </div>
        <div class="column-one-third">
       <span class="form-label">Date of birth</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>
       </div>
                <div class="column-one-third">
       <span class="form-label">Postcode</span>
       <div class="form-group">
         <input class="form-control" id="reference-number" name="first-name-2" type="text">
      </div>
       </div>
       
       <div class="column-one-third">
         <span class="form-label">NHS number</span>
         <div class="form-group">
           <input class="form-control" id="reference-number" name="first-name-2" type="text">
        </div>
         </div>
</div>
     <div class="grid-row">
        <div class="column-one-third">
            <div class="form-group">
            <a class="button" id="search-button" href="results-content.html" role="button">Search</a>
            </div>
        </div>
    </div>
</div>       
</div>       
    
</main>

{% endblock %}
