{% extends "layout_bsa_popup.html" %}
​
{% block page_title %}
Single User View
{% endblock %}
​
{% block after_header %}
​
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  <div class="grid-row">
    <div class="grid-row highlight1">
      <main id="content" role="main">
    <h1 class="heading-large">Choose the number of months for the Direct Debit</h1>
    <form action="tabs-below" method="get" class="form">
      <div class="form-group">
        <p class="form-label">The total amount to pay is <span class="strong">£369.30.</span>

        </p>No interest is charged on this amount, and it will not affect your credit score.</p>
<p></p></div>

<p class="heading-medium">How many months would you like to pay over?</p>
        <div class="form-group">
          <p class="heading-medium">15 months</p>
          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
            <label for="radio-1">1 payment of £24.62 followed by 14 payments of £24.62</label>
          </div>
        </div>
        <div class="form-group">
          <p class="heading-medium">18 months</p>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
            <label for="radio-2">1 payment of £20.63 followed by 17 paymnets of £20.51</label>
            <P></P>
          </div>
        </div>    
      
 <div class="form-group">
          <a class="button" id="search-button" href="set-up-dd.html" role="button">Save and continue</a>
        </div>
        <p class="navigation"><a class="cancel" href="direct-debit.html">Cancel</a></p>
          </div>
        </div>
        
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
​
{% endblock %}               
                               
                                      
                                 
                                      
                                      
                                
        
       
            
            
            
       

            

        
    
