{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul>
            <li>
              <a class="menu-button" href="results">Back to search</a>
            </li>
            <li>
            <div class="form-group">
              <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;">
                <option selected hidden>Close</option>
                <option value="results">Incorrect personal details</option>
                  <option value="results">Incorrect address</option>
                <option value="results">Deceased</option>
              </select>
            </div>
            </li>
            <li>
            <div class="form-group">
              <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;">
                <option selected hidden>Hold</option>
                <option value="results">1 Day</option>
                  <option value="results">7 Days</option>
                <option value="results">14 Days</option>
              </select>
            </div>
            </li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full">
                        <div class="column-one-third det-width2">
                <div class="grid-row highlight1">
                    <h1 class="heading-small">Customer</h1>
                    <div class="column-one-third lpads">
                        <h2 class="heading-small">Name</h2>
                        <p class="change-spacep">Mr Joe Bloggs</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Address</h2>
                        <p class="change-spacep">9 Hotspur street, Townford, NE1 0LD</p>
                        <p class="change-spacea"><a href="#">Change</a></p>

                    </div>
                    <div class="column-one-third">
                                                                        <h2 class="heading-small">D.O.B</h2>
                        <p class="change-spacep">20/11/1988</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">NHS No.</h2>
                        <p class="change-spacep">20111988</p>
                        <p class="change-spacea"><a href="#">Change</a></p>

                    </div>
                                        <div class="column-one-third">


                        <h2 class="heading-small">Email</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                        <h2 class="heading-small">Tel</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                    </div>
                </div>

                <br>
                <div class="column-full rpads">
                    <div class="container rpads">
                        <ul class="tabs rpads">
                            <li class="tab-link current" data-tab="tab-1">Transactions</li>
                            <li class="tab-link" data-tab="tab-2">Notes</li>
<!--                            <li class="tab-link" data-tab="tab-3">Matches</li>-->
                            <li class="tab-link" data-tab="tab-4">PCN's</li>
                        </ul>
                        <div id="tab-1" class="tab-content current rpads">
                            <div class="makeScrollable1">
                            <table class="internal-table">
                                <thead>  
                                <tr>
                                <th>Date</th>
                                <th>User</th> 
                                <th>Amount</th>
                                <th>Type</th>
                              </tr>
                                    </thead>
                                <tbody>
                              <tr>
                                <td>28/05/2017</td>
                                <td>System</td> 
                                <td>£58.60</td>
                                  <td>Payment request</td>
                              </tr>
                              <tr>
                                <td>28/06/2017</td>
                                <td>System</td> 
                                <td>£51</td>
                                  <td>Surcharge added</td>
                              </tr>
                                </tbody>
                            </table>
                            </div>
                            <p><a href="#">+ Add transaction</a></p>
                        </div>
                        <div id="tab-2" class="tab-content">    
                            <div class="makeScrollable1">
                            <table class="internal-table">
                                <thead>
                                  <tr>
                                <th>Date</th>
                                <th>Agent</th> 
                                <th>Comments</th>
                              </tr>
                                </thead>
                                
                                <tbody>
                                    <div>
                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                              <tr>
                                <td>27/07/2017 13.00</td>
                                <td>Tim</td> 
                                <td>Cust told pay half to avoid surcharge. Cust non compliant, demanded manager. Call escalated</td>
                              </tr>
                                                            <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                                                                                    <tr>
                                <td>27/07/2017 13.30</td>
                                <td>Joanne</td> 
                                <td>Info repeated as above. Cust paid half, agreed to pay next half 27/08/17</td>
                              </tr>
                                        </div>
                                </tbody>
                                    
                            </table>
                            </div>
                            <p><a href="#">+ Add note</a></p>
                                
                            <br>
                        </div>
<!--
                        <div id="tab-3" class="tab-content">
                            <div class="makeScrollable">
                          <table class="internal-table">
                              <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Sent</th> 
                                    <th>Respond</th>
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr>
                                    <td><a href="tabs-right">223456789</a></td>
                                    <td>28/5/17</td> 
                                    <td>28/6/17</td>
                                    <td>£108.60</td>
                                    <td>Open</td>
                                    <td><a href=""></a></td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">323456789</a></td>
                                    <td>28/4/17</td> 
                                    <td>28/5/17</td>
                                    <td>£108.60</td>
                                    <td>Open</td>
                                    <td><a href="">Delink</a></td>
                                </tr>
                                  </tbody>
                            </table>
                            </div>
                        </div>
-->
                                                <div id="tab-4" class="tab-content">
                            <div class="makeScrollable1">
                          <table class="internal-table">
                                <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Name</th> 
                                    <th>Address</th>
                                    <th>Postcode</th>
                                    <th>Status</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                                                    <tr>
                                    <td><a href="tabs-right">823456789</a></td>
                                    <td>Joe Bloggs</td> 
                                    <td>9 Hotspur street, Townford</td>
                                    <td>NE1 0LD</td>
                                    <td>Open</td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">423456789</a></td>
                                    <td>Joe J Bloggs</td> 
                                    <td>9 Hotspur street, Townford</td>
                                    <td>NE1 0LD</td>
                                    <td>Open</td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">523456789</a></td>
                                    <td>Joe Bloggs</td> 
                                    <td>17 Trump street, Townford</td>
                                    <td>NE1 5LD</td>
                                    <td>Open</td>
                                </tr>
                                <tr>
                                    <td><a href="tabs-right">623456789</a></td>
                                    <td>Laura Hartford</td> 
                                    <td>9 Hotspur street, Townford</td>
                                    <td>NE1 0LD</td>
                                    <td>Open</td>
                                    
                                </tr>
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>                                
            </div>
            
            <div class="column-one-third lpads det-width3">
                <div class="grid-row highlight">
                    <h1 class="heading-small">PCN 123456789</h1>
                    <div class="column-one-third lpads">
                        <h2 class="heading-small">Prescription</h2>
                        <p>£8.60</p>
                        <h2 class="heading-small">Penalty</h2>
                        <p>£50</p>
                        <h2 class="heading-small">Surcharge</h2>
                        <p>£51</p>
                                                <h2 class="heading-small">Paid</h2>
                        <p>£0</p>
                        <h2 class="heading-small">Balance</h2>
                        <p>£109.60</p>
                        <h2 class="heading-small">Sent</h2>
                        <p>28/06/2017</p>
                        <h2 class="heading-small">Respond</h2>
                        <p>28/07/2017</p>
                    </div>
                    <div class="column-one-third">
                        <h2 class="heading-small">Items</h2>
                        <p>1</p>
                        <h2 class="heading-small">Dispenser</h2>
                        <p>FRN15</p>
                        <h2 class="heading-small">Exemption</h2>
                        <p>(F) Pre-payment Certificate</p>
                        <h2 class="heading-small">Evidence</h2>
                        <p>No</p>
                        <h2 class="heading-small">DWP</h2>
                        <p>No</p>
                        <p><a href="#">View Prescription</a></p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>

{% endblock %}
