{% extends "layout_bsa_popup.html" %}

{% block page_title %}
  Single User View
{% endblock %}



{% block after_header %}


{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        
        <div class="column-full highlight1">

            <h1 class="heading-large">Edit payment</h1>
            
            <br>
            
<form action="JavaScript:window.close()" method="get" class="form">

                <div class="form-group">
            <label class="form-label">Payment type</label>
            <br>
  <select class="form-control" name="select-box" id="size_select">
    <option selected="" hidden=""></option>                
                <option value="option1">Cash</option>
                <option value="option2">Cheque</option>
    <option value="option1">Postal order</option>
    <option value="option1">Bank transfer</option>
  </select>
                   <br>
        <br>
        </div>
    
    <div class="size_chart" id="option2">
        
        <div class="form-group">
            <label class="form-label">Cheque number</label>
            <br>
          <input class="form-control form-control-1-8" id="form-control-1-8" type="text" name="form-control-1-8" value="123456789">
                   <br>
        <br>
        </div>
                <div class="form-group">
            <label class="form-label">Cheque date</label>
            <br>
                    <div class="form-date">
        <div class="form-group form-group-day">
          
          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="01">
        </div>
        <div class="form-group form-group-month">
          
          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="01">
        </div>
        <div class="form-group form-group-year">
          
          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2019" value="2018">
        </div>
      </div>
                   <br>
        <br><br>
        </div>
        
            <div class="form-group">
            <label class="form-label">Payment amount</label>
            <br>
            <span style="font-weight: 700">£</span>
          <input class="form-control form-control-1-8" id="form-control-1-8" type="text" name="form-control-1-8" value="15">
                   <br>
        <br>
        </div>
        
                                <input type="checkbox" class="applyAll">Cheque bounced
                   <br>
        <br>
        <br>

    </div>
    
    <div class="size_chart" id="option1">
    <div class="form-group">
            <label class="form-label">Payment amount</label>
            <br>
            <span style="font-weight: 700">£</span>
          <input class="form-control form-control-1-8" id="form-control-1-8" type="text" name="form-control-1-8" value="15">
                   <br>
        <br>
        </div>
    </div>
    

    
                                        <div class="form-group">
<label class="form-label">Notes</label>
            <br>
            
          <div style="width: 500px;">
                     <textarea style="height: 150px; width:100%;"></textarea>
            <p style="text-align: right;">0/2048</p> 
            </div>
        </div>
        <br>
        <br>
        
        <div class="form-item-wrapper">
          <div class="form-group">
            <input class="button" type="submit" value="Submit">
          </div>
        </div>

        <p class="navigation"><a class="cancel" href="JavaScript:window.close()">Cancel</a></p>
        
      </form>
            
            <br>
            

        </div>
    </div>
</main>

{% endblock %}
