{% extends "layout_bsa_internal.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block after_header %}
  <div id="menu">
    <div id="menu-content">
      <div class="grid-row">
        <div class="column-half">
          <ul>
            <li>
              <a class="menu-button" href="results">Back to search</a>
            </li>
            <li>
            <div class="form-group">
              <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;">
                <option selected hidden>Close</option>
                <option value="results">Incorrect personal details</option>
                  <option value="results">Incorrect address</option>
                <option value="results">Deceased</option>
              </select>
            </div>
            </li>
            <li>
            <div class="form-group">
              <select class="form-control" id="select-box" name="select-box" onchange="location = this.value;">
                <option selected hidden>Hold</option>
                <option value="results">1 Day</option>
                  <option value="results">7 Days</option>
                <option value="results">14 Days</option>
              </select>
            </div>
            </li>
          </ul>
        </div>
        <div class="column-half" id="logout">
          <a href="#">Log out</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="column-one-third lpads det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-small">PCN 574567893</h1>
                    <div class="column-one-half lpads">
                        <h2 class="heading-small">Prescription</h2>
                        <p>£8.60</p>
                        <h2 class="heading-small">Penalty</h2>
                        <p>£50</p>
                        <h2 class="heading-small">Surcharge</h2>
                        <p>£50 23/06/2017</p>
                        <h2 class="heading-small">Paid</h2>
                        <p>£0</p>
                        <h2 class="heading-small">Balance</h2>
                        <p>£0</p>
                        <h2 class="heading-small">Sent</h2>
                        <p>25/05/2017</p>
                        <h2 class="heading-small">Respond</h2>
                        <p>22/06/2017</p>
                    </div>
                    <div class="column-one-half det-width">
                        <h2 class="heading-small">Items</h2>
                        <p>1</p>
                        <h2 class="heading-small">Dispenser</h2>
                        <p>FRN15</p>
                        <h2 class="heading-small">Exemption</h2>
                        <p>(D) Maternity Exemption</p>
                        <h2 class="heading-small">Evidence</h2>
                        <p>No</p>
                        <h2 class="heading-small">DWP</h2>
                        <p>No</p>
                        <p><a href="#">View Prescription</a></p>
                    </div>
                </div>
            </div>
            <div class="column-one-third det-width">
                <div class="grid-row highlight">
                    <h1 class="heading-small">Customer</h1>
                    <div class="column-one-half lpads">
                        <h2 class="heading-small">Title</h2>
                        <p class="change-spacep">Ms</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Forename</h2>
                        <p class="change-spacep">Claudia</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Surname</h2>
                        <p class="change-spacep">Horne</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Address</h2>
                        <p class="change-spacep">39 Gimingham Rd, Mundesley, Norwich, NR11 8DG</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                    </div>
                    <div class="column-one-half">
                        <h2 class="heading-small">D.O.B</h2>
                        <p class="change-spacep">06/09/1990</p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">NHS No.</h2>
                        <p class="change-spacep"><br></p>
                        <p class="change-spacea"><a href="#">Change</a></p>
                        <h2 class="heading-small">Email</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                        <h2 class="heading-small">Tel</h2>
                        <input class="form-control" id="reference-number" name="first-name-2" type="text">
                        <p class="change-spacea"><a href="#">Add</a></p>
                    </div>
                </div>
            </div>
            <div class="column-one-third rpads tab-area">
                <br>
                <div class="column-full rpads">
                    <div class="container rpads">
                        <ul class="tabs rpads">
                            <li class="tab-link current" data-tab="tab-1">Transactions</li>
                            <li class="tab-link" data-tab="tab-2">Notes</li>
                            <li class="tab-link" data-tab="tab-3">Matches</li>
                            <li class="tab-link" data-tab="tab-4">Possible matches</li>
                        </ul>
                        <div id="tab-1" class="tab-content current rpads">
                            <div class="makeScrollable">
                            <table class="internal-table">
                                <thead>  
                                <tr>
                                <th>Date</th>
                                <th>User</th> 
                                <th>Amount</th>
                                <th>Type</th>
                              </tr>
                                    </thead>
                                <tbody>
                              <tr>
                                <td>25/05/2017</td>
                                <td>System</td> 
                                <td>£58.60</td>
                                  <td>Payment request</td>
                              </tr>
                                                                  <tr>
                                <td>23/06/2017</td>
                                <td>System</td> 
                                <td>£50</td>
                                  <td>Surcharge Added</td>
                              </tr>
                                </tbody>
                            </table>
                            </div>
                            <p><a href="#">+ Add transaction</a></p>
                        </div>
                        <div id="tab-2" class="tab-content">    
                            <div class="makeScrollable">
                            <table class="internal-table">
                                <thead>
                                  <tr>
                                <th>Date</th>
                                <th>Agent</th> 
                                <th>Comments</th>
                              </tr>
                                </thead>
                                
                                <tbody>

                                        
                                </tbody>
                                    
                            </table>
                            </div>
                            <p><a href="#">+ Add note</a></p>
                                
                            <br>
                        </div>
                        <div id="tab-3" class="tab-content">
                            <div class="makeScrollable">
                          <table class="internal-table">
                              <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Sent</th> 
                                    <th>Respond</th>
                                    <th>Balance</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                              <tbody>

                                  </tbody>
                            </table>
                            </div>
                        </div>
                                                <div id="tab-4" class="tab-content">
                            <div class="makeScrollable">
                          <table class="internal-table">
                                <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Name</th> 
                                    <th>Address</th>
                                    <th>Postcode</th>
<!--                                    <th>D.O.B</th>-->
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                                                        <tr>
                                        <td><a href="pcn">823456789</a></td>
                                        <td>Claire Hornbeck</td> 
                                        <td>4 The Green, Tuttington, Norwich</td>
                                        <td>NR11 6GT</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Open</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pcn1">923456789</a></td>
                                        <td>Claire Hornbeck</td> 
                                        <td>4 The Green, Tuttington, Norwich</td>
                                        <td>NR11 6GT</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Held</td>
                                    </tr>
                                    <tr>
                                        <td><a href="pcn2">133456789</a></td>
                                        <td>Claire Hornbeck</td> 
                                        <td>4 The Green, Tuttington, Norwich</td>
                                        <td>NR11 6GT</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Open</td>
                                    </tr>
                                    
                                    <tr>
                                        <td><a href="pcn3">243456789</a></td>
                                        <td>Claire Fiona Hornbeck</td> 
                                        <td>4 The Green, Tuttington, Norwich</td>
                                        <td>NR11 6GT</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Open</td>
                                    </tr>
                                                                        <tr>
                                        <td><a href="pcn5">436456789</a></td>
                                        <td>Claire Hornbeck</td> 
                                        <td>1 Goodwin Rd, Mundesley, Norwich</td>
                                        <td>NR11 8BB</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Closed</td>
                                    </tr>

                                    <tr>
                                        <td><a href="pcn7">684567896</a></td>
                                        <td>Clara Horn</td>  
                                        <td>136 Norwich Rd, Aylsham, Norwich</td>
                                        <td>NR11 6JG</td>
    <!--                                    <td>01/06/85</td>-->
                                        <td>Open</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>

                        </div>
                    </div>
                </div>                                
            </div>
        </div>
    </div>
</main>

{% endblock %}
