{% extends "layout_bsa.html" %}

{% block page_title %}
  Challenge a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">

    
  <div class="grid-row">
    
    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">Something's gone wrong</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <div class="text">
                
        <p>
          We are currently experiencing a problem with this service and are working to fix it as soon as possible. 
        </p>
                 
          <p>Please try again later or contact us:</p>
          
          <div class="panel panel-border-wide">
        
                                                              <p>
Call us on: 0300 330 1293
        </p>
                    <p>Email us at: _.______@nhs.net</p>
        
      </div>
          

        

      </div>
      
 </div>
      
    </div>
  
</main>

{% endblock %}
