{% extends "layout_bsa.html" %}

{% block page_title %}
  Single User View
{% endblock %}

{% block content %}

<main id="content" role="main">


  <h1 class="heading-xlarge">Single User View</h1>
    
    <p>Internal facing single user view that displays multiple PCN's for single users. This should help identify repeat offenders or recurring issues with vulnerable people building up many large penalties.</p>

  <h3 class="heading-large">Prototypes</h3>
    
    <p>
    <span class="strong">What needs tested</span> - How agents process DECS cases especially when HC3 applies. Changes based on feedback from v3 also need tested.
  </p>
    
          <ul class="list list-bullet">

    <li><a href="ccs/search-form">CCS Version 4 - March 2018</a></li>
              <li><a href="held/search-form">CCS unlock Version 4 - March 2018</a></li>
              <li><a href="closed/search-form">CCS Reopen Version 4 - March 2018</a></li>
    <li><a href="bo/search-form">Back office Version 4 - March 2018</a></li>
              <li><a href="decs/search-form">DECS Version 4 - March 2018</a></li>

  </ul>

      <h3 class="heading-large">Scenarios</h3>
    
    
          <ul class="list list-bullet">

    <li><a href="scenario/one/search-form">Scenario 1: Single PCN</a></li>
    <li><a href="scenario/two/search-form">Scenario 2: Multiple PCN's</a></li>
              <li><a href="scenario/three/search-form">Scenario 3: Repeat offender</a></li>
              <li><a href="scenario/four/search-form">Scenario 4: PCN overpaid</a></li>

  </ul>
    
            <hr>

    <h3 class="heading-large">Version 3 - February 2018</h3>
    <p><span class="strong">What we tested - </span>We further tested functionality with dragable pop out windows that allow agents to see the record side by side with the function they are performing. We also briefly tested the possibility of having the multiple PCN's presented in this way. The purpose of this was to find the most effective way for users to perform daily functions and thus deal with cases quicker.</p>
    
              <ul class="list list-bullet">

    <li><a href="scenario/one/search-form">Scenario 1: Single PCN</a></li>
    <li><a href="scenario/two/search-form">Scenario 2: Multiple PCN's</a></li>
              <li><a href="scenario/three/search-form">Scenario 3: Repeat offender</a></li>
              <li><a href="scenario/four/search-form">Scenario 4: PCN overpaid</a></li>

  </ul>

<!--
          <ul class="list list-bullet">

    <li><a href="/public/images/prototypes/1/ccsv3.pdf">CCS Version</a></li>
              <li><a href="/public/images/prototypes/1/lockedv3.jpg">CCS unlock</a></li>
              <li><a href="/public/images/prototypes/1/closedv3.jpg">CCS Reopen</a></li>
    <li><a href="/public/images/prototypes/1/bov3.pdf">Back office Version</a></li>
              <li><a href="/public/images/prototypes/1/decsv3.pdf">DECS Version</a></li>
              <li><a href="/public/images/prototypes/1/pcnWindow.png">PCN's open in new windows</a></li>

  </ul>
-->
    
        <hr>

    <h3 class="heading-large">Version 2 - January 2018</h3>
    <p><span class="strong">What we tested - </span>Following the A/B test from v1, We tested the customer centered version with some dummy functionality links. We also tested a back office version of this that included a dummy button for reports and additional dummy options for transactions. The purpose of this testing was to discover more about the interactions that agents need to make with cases on a day to day basis.</p>

  <ul class="list list-bullet">

    <li><a href="/public/images/prototypes/1/ccsv2.pdf">CCS version</a></li>
    <li><a href="/public/images/prototypes/1/bov2.pdf">BO version</a></li>

  </ul>

    <hr>

    <h3 class="heading-large">Version 1 - November 2017</h3>
    <p><span class="strong">What we tested - </span>Version one of SUV journey was created to provide call center agents with a better view of patients that may have multiple PCN's. We tested two different layouts with 5 agents and 1 back office staff member. The matches and possible matches tabs received good feedback with agents appreciating the value of this feature. The customer centered view was the preferred layout.</p>

  <ul class="list list-bullet">

    <li><a href="/public/images/prototypes/1/custView.pdf">Customer centered view</a></li>
    <li><a href="/public/images/prototypes/1/pcnView.pdf">PCN centered view</a></li>

  </ul>
    <hr>
        <hr>

    <h3 class="heading-large">Version 0 - September 2017</h3>
    <p><span class="strong">What we created - </span>Very early mock ups of what screens may look like. Most styles have since been removed and the width has been increased to better accomodate everything on one screen. Partly inspired by Infected blood support internal screens.</p>

  <ul class="list list-bullet">

    <li><a href="/public/images/prototypes/1/v0.pdf">Very early mock ups</a></li>

  </ul>
    

</main>

{% endblock %}
